@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'footer';
@import 'loader';
@import 'code';

html, body, #app, .app-container {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.navbar-toggler {
  padding-left: 0.5em;
  padding-right: 0.5em;

}

.tab-container {
  padding-top: 1em;
  padding-bottom: 2em;

  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  border: 1px solid transparent;
  border-color: #fff #ddd #ddd;
}

#scroll-nav-cont {
  width: 100%;
  overflow: hidden;
}

#scroll-nav {
  display: inline-block;
  width: 900px;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 20px;
  
  @media only screen and (max-width: 900px) {
    width: 900px;
    width: 100%;
  }
}

// .container.navbar, #scrollnav, .scroll-nav, #scroll-nav-cont {
//   // padding-left: 0;
//   width: 900px;
//   overflow: visible;
//   // overflow-x: scroll;
// }

.navbar-nav a.nav-item.nav-link {
  float: left;
  display: inline-block;
}

.content {
  margin-top: 1.4em;
}

.toy-list {
  margin-top: 1.4em;
}

.list-group-item {
  border: 0px;
  // margin-left: -1em;
  // margin-right: -1em;

  // background-color: coral;
}

.no-border { 
  border: 0px;
}

.list-group-item:hover {
  background-color: #f6f6f6;
}

.table td, .table th, .table thead th {
  border-top: 0px solid #efefef;
  border-bottom: 0px solid efefef;
}

